@font-face {
  font-family: 'Mark';
  font-weight: 700;
  src: url('../assets/fonts/mark700/mark700.eot?#iefix');
  src: url('../assets/fonts/mark700/mark700.eot?#iefix') format('eot'),
    url('../assets/fonts/mark700/mark700.woff2') format('woff2'),
    url('../assets/fonts/mark700/mark700.woff') format('woff'),
    url('../assets/fonts/mark700/mark700.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Mark';
  font-weight: 600;
  src: url('../assets/fonts/mark600/mark600.eot?#iefix');
  src: url('../assets/fonts/mark600/mark600.eot?#iefix') format('eot'),
    url('../assets/fonts/mark600/mark600.woff2') format('woff2'),
    url('../assets/fonts/mark600/mark600.woff') format('woff'),
    url('../assets/fonts/mark600/mark600.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Mark';
  font-weight: 500;
  src: url('../assets/fonts/mark500/mark500.eot?#iefix');
  src: url('../assets/fonts/mark500/mark500.eot?#iefix') format('eot'),
    url('../assets/fonts/mark500/mark500.woff') format('woff'),
    url('../assets/fonts/mark500/mark500.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Mark';
  font-weight: 400;
  src: url('../assets/fonts/mark400/mark400.eot?#iefix');
  src: url('../assets/fonts/mark400/mark400.eot?#iefix') format('eot'),
    url('../assets/fonts/mark400/mark400.woff2') format('woff2'),
    url('../assets/fonts/mark400/mark400.woff') format('woff'),
    url('../assets/fonts/mark400/mark400.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Mark';
  font-weight: 300;
  src: url('../assets/fonts/mark300/mark300.eot?#iefix');
  src: url('../assets/fonts/mark300/mark300.eot?#iefix') format('eot'),
    url('../assets/fonts/mark300/mark300.woff2') format('woff2'),
    url('../assets/fonts/mark300/mark300.woff') format('woff'),
    url('../assets/fonts/mark300/mark300.ttf') format('truetype');
  font-display: swap;
}
