// colours
$grey-border: #ddd;
$grey-text: #666;
$grey-text-light: #adadad;
$grey-bg: #f8f8f8;
$white: #fff;
$gold: #D6B034;
$black-logo: #2A2A2A;
$blue: #4990e2;

// borders
$round-corner-small: 0.25rem;
$button-border-radius: 6.25rem;

// Shadows
$shadow-1-hover: 0 1px 1px 0 rgba(0, 0, 0, 0.02), 0 2px 10px 0 rgba(0, 0, 0, 0.12), 0 10px 30px 0 rgba(0, 0, 0, 0.12);
$shadow-login: 0 30px 80px 0 rgba(0,0,0,0.1), 0 10px 40px 0 rgba(0,0,0,0.1);
$shadow-card: 0 1px 2px 0 rgba(0,0,0,0.1), 0 5px 10px 0 rgba(0,0,0,0.05);


// Transitions
$transition-all: all 0.2s ease;
$hover-move: translateY(-2px);
