@import 'vars';
@import 'fonts';
@import 'flex';

* {
    box-sizing: border-box;
    font-family: "Mark";
}

body {
  background-color: $grey-bg;
}

input[type=text],
input[type=password],
input[type=email] {
  display: block;
  height: 2.5rem;
  border-radius: $round-corner-small;
  font-size: 0.875rem;
  padding: 0.75rem;
  line-height: 1.4em;
  border: 1px solid $grey-border;
  color: $grey-text;
  background-color: $white;
}

a {
  transition: $transition-all;
  cursor: pointer;
  text-decoration: none;
  color: $grey-text;
  font-weight: medium;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    padding: 0 1.5rem;
    margin: 0;
    border: 1px solid $grey-border;
    border-radius: $button-border-radius;
    font-family: inherit;
    font-size: 0.875rem;
    line-height: 2rem;
    color: $grey-text;
    cursor: pointer;
    transition: $transition-all;

    &:focus,
    &:active {
      outline: none;
    }

    &:hover {
      text-decoration: none;
      box-shadow: $shadow-1-hover;
      transform: $hover-move;
      color: $blue;
    }

    &:active {
      transform: translateY(0);
    }
  }

select {
  box-sizing: border-box;
  height: 2.5em;
  border: 1px solid $grey-border;
  border-radius: $button-border-radius;
  padding: 0 1.5rem;
  padding-right: 2rem;
  color: $grey-text;
  font-family: "Mark";
  font-size: 0.875rem;
  font-weight: 500;
  appearance: none;
  text-align: center;
  cursor: pointer;
  background-image: url('../assets/icons/arrow-right-small.svg');
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-color: $white;

  &:focus,
  &:active {
    outline: none;
  }
}
